<h2>
   <table>
      <thead>
         <tr><td colspan="2">Guthaben</td></tr>
      </thead>
      <tbody>
         <tr><td ALIGN="LEFT">vorher</td><td ALIGN="RIGHT">18.35€</td></tr>
         <tr><td ALIGN="LEFT">Becher</td><td ALIGN="RIGHT">-0.50€</td></tr>
         <tr><td ALIGN="LEFT">Bier</td><td ALIGN="RIGHT">-2.35€</td></tr>
         <tr><td ALIGN="LEFT">jetzt</td><td ALIGN="RIGHT">-15.50€</td></tr>
      </tbody>
   </table>
</h2>
@code {

}
